In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_download.csv')

In [3]:
display(df)

    Session_ID         Date Activity  Heart_Rate_BPM  Duration_Min  Calories
0          500  15-Jan-2026      Gym            69.0          42.0     466.0
1          501   2026/01/15     Yoga           160.0          33.0     334.0
2          502   2026-01-15     Swim            75.0          37.0     516.0
3          503   2026-01-15      Run           124.0          38.0     437.0
4          504   2026-01-15    Cycle           173.0          26.0     564.0
5          505   2026-01-15     Ggym            88.0          43.0     141.0
6          506   2026-01-15     YOGA           149.0          89.0     190.0
7          507   2026-01-15    swim            153.0          24.0     368.0
8          508   2026-01-15      Run           172.0          30.0     598.0
9          509   2026-01-15   cykle             89.0          33.0     386.0
10         510   2026-01-15      Gym             NaN          86.0     309.0
11         511   2026-01-15     Yoga             NaN          26.0     501.0
12         512   2026-01-15     Swim             NaN          32.0     244.0
13         513   2026-01-15      Run             NaN          61.0     228.0
14         514   2026-01-15    Cycle             NaN          22.0     457.0
15         515   2026-01-15      Gym           100.0          43.0     301.0
16         516   2026-01-15     Yoga           178.0          48.0     480.0
17         517   2026-01-15     Swim            96.0          59.0     522.0
18         518   2026-01-15      Run           175.0          20.0     634.0
19         519   2026-01-15    Cycle            76.0          19.0     167.0
20         520   2026-01-15      Gym           160.0          86.0     546.0
21         521   2026-01-15     Yoga           171.0          65.0     195.0
22         522   2026-01-15     Swim            71.0          69.0     455.0
23         523   2026-01-15      Run           114.0          49.0     182.0
24         524   2026-01-15    Cycle           148.0          30.0     162.0
25         525   2026-01-15      Gym           167.0          30.0       NaN
26         526   2026-01-15     Yoga           122.0          21.0       NaN
27         527   2026-01-15     Swim            93.0          37.0       NaN
28         528   2026-01-15      Run           132.0          26.0     148.0
29         529   2026-01-15    Cycle           160.0          27.0     473.0
30         530   2026-01-15      Gym           138.0          77.0     559.0
31         531   2026-01-15     Yoga           109.0          72.0     570.0
32         532   2026-01-15     Swim           111.0          57.0     521.0
33         533   2026-01-15      Run           114.0          72.0     173.0
34         534   2026-01-15    Cycle           137.0          65.0     457.0
35         535   2026-01-15      Gym           129.0          60.0     527.0
36         536   2026-01-15     Yoga            73.0          55.0     446.0
37         537   2026-01-15     Swim           175.0          88.0     683.0
38         538   2026-01-15      Run            85.0          52.0     428.0
39         539   2026-01-15    Cycle            73.0          15.0     512.0
40         540   2026-01-15      Gym           899.0          33.0     355.0
41         541   2026-01-15     Yoga           146.0          38.0    -250.0
42         542   2026-01-15     Swim            90.0        1000.0     223.0
43         543   2026-01-15      Run            90.0          44.0     306.0
44         544   2026-01-15    Cycle           149.0          31.0     565.0
45         545   2026-01-15      Gym             0.0          29.0     313.0
46         546   2026-01-15     Yoga           999.0          66.0     113.0
47         547   2026-01-15     Swim            91.0        1080.0     616.0
48         548   2026-01-15      Run           117.0          65.0    -150.0
49         549   2026-01-15    Cycle            96.0          68.0     640.0
50         502   2026-01-15     Swim            75.0          37.0     516.0
51         502   2026-01-15     Swim            75.0          37.0     516.0
52         549   2026-01-15    Cycle            96.0          68.0     640.0

In [4]:
display(df.head())

   Session_ID         Date Activity  Heart_Rate_BPM  Duration_Min  Calories
0         500  15-Jan-2026      Gym            69.0          42.0     466.0
1         501   2026/01/15     Yoga           160.0          33.0     334.0
2         502   2026-01-15     Swim            75.0          37.0     516.0
3         503   2026-01-15      Run           124.0          38.0     437.0
4         504   2026-01-15    Cycle           173.0          26.0     564.0

In [5]:
display(df.tail())

    Session_ID        Date Activity  Heart_Rate_BPM  Duration_Min  Calories
48         548  2026-01-15      Run           117.0          65.0    -150.0
49         549  2026-01-15    Cycle            96.0          68.0     640.0
50         502  2026-01-15     Swim            75.0          37.0     516.0
51         502  2026-01-15     Swim            75.0          37.0     516.0
52         549  2026-01-15    Cycle            96.0          68.0     640.0

In [6]:
# list columns
print(list(df.columns))

['Session_ID', 'Date', 'Activity', 'Heart_Rate_BPM', 'Duration_Min', 'Calories']

In [7]:
# data type information
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Session_ID      53 non-null     int64
 1   Date            53 non-null     str
 2   Activity        53 non-null     str
 3   Heart_Rate_BPM  48 non-null     float64
 4   Duration_Min    53 non-null     float64
 5   Calories        50 non-null     float64
dtypes: float64(3), int64(1), str(2)
memory usage: 2.6 KB

In [8]:
# show data and identify inconsistencies
df.describe()

       Session_ID  Heart_Rate_BPM  Duration_Min    Calories
count   53.000000       48.000000     53.000000   50.000000
mean   524.113208      151.708333     84.150943  385.660000
std     15.202050      172.692687    192.312086  199.759407
min    500.000000        0.000000     15.000000 -250.000000
25%    511.000000       89.750000     30.000000  232.000000
50%    524.000000      115.500000     43.000000  450.500000
75%    537.000000      154.750000     65.000000  521.750000
max    549.000000      999.000000   1080.000000  683.000000