In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_download.csv')

In [3]:
display(df)

    Session_ID         Date Activity  Heart_Rate_BPM  Duration_Min  Calories
0          500  15-Jan-2026      Gym            69.0          42.0     466.0
1          501   2026/01/15     Yoga           160.0          33.0     334.0
2          502   2026-01-15     Swim            75.0          37.0     516.0
3          503   2026-01-15      Run           124.0          38.0     437.0
4          504   2026-01-15    Cycle           173.0          26.0     564.0
5          505   2026-01-15     Ggym            88.0          43.0     141.0
6          506   2026-01-15     YOGA           149.0          89.0     190.0
7          507   2026-01-15    swim            153.0          24.0     368.0
8          508   2026-01-15      Run           172.0          30.0     598.0
9          509   2026-01-15   cykle             89.0          33.0     386.0
10         510   2026-01-15      Gym             NaN          86.0     309.0
11         511   2026-01-15     Yoga             NaN          26.0     501.0
12         512   2026-01-15     Swim             NaN          32.0     244.0
13         513   2026-01-15      Run             NaN          61.0     228.0
14         514   2026-01-15    Cycle             NaN          22.0     457.0
15         515   2026-01-15      Gym           100.0          43.0     301.0
16         516   2026-01-15     Yoga           178.0          48.0     480.0
17         517   2026-01-15     Swim            96.0          59.0     522.0
18         518   2026-01-15      Run           175.0          20.0     634.0
19         519   2026-01-15    Cycle            76.0          19.0     167.0
20         520   2026-01-15      Gym           160.0          86.0     546.0
21         521   2026-01-15     Yoga           171.0          65.0     195.0
22         522   2026-01-15     Swim            71.0          69.0     455.0
23         523   2026-01-15      Run           114.0          49.0     182.0
24         524   2026-01-15    Cycle           148.0          30.0     162.0
25         525   2026-01-15      Gym           167.0          30.0       NaN
26         526   2026-01-15     Yoga           122.0          21.0       NaN
27         527   2026-01-15     Swim            93.0          37.0       NaN
28         528   2026-01-15      Run           132.0          26.0     148.0
29         529   2026-01-15    Cycle           160.0          27.0     473.0
30         530   2026-01-15      Gym           138.0          77.0     559.0
31         531   2026-01-15     Yoga           109.0          72.0     570.0
32         532   2026-01-15     Swim           111.0          57.0     521.0
33         533   2026-01-15      Run           114.0          72.0     173.0
34         534   2026-01-15    Cycle           137.0          65.0     457.0
35         535   2026-01-15      Gym           129.0          60.0     527.0
36         536   2026-01-15     Yoga            73.0          55.0     446.0
37         537   2026-01-15     Swim           175.0          88.0     683.0
38         538   2026-01-15      Run            85.0          52.0     428.0
39         539   2026-01-15    Cycle            73.0          15.0     512.0
40         540   2026-01-15      Gym           899.0          33.0     355.0
41         541   2026-01-15     Yoga           146.0          38.0    -250.0
42         542   2026-01-15     Swim            90.0        1000.0     223.0
43         543   2026-01-15      Run            90.0          44.0     306.0
44         544   2026-01-15    Cycle           149.0          31.0     565.0
45         545   2026-01-15      Gym             0.0          29.0     313.0
46         546   2026-01-15     Yoga           999.0          66.0     113.0
47         547   2026-01-15     Swim            91.0        1080.0     616.0
48         548   2026-01-15      Run           117.0          65.0    -150.0
49         549   2026-01-15    Cycle            96.0          68.0     640.0
50         502   2026-01-15     Swim            75.0          37.0     516.0
51         502   2026-01-15     Swim            75.0          37.0     516.0
52         549   2026-01-15    Cycle            96.0          68.0     640.0

In [4]:
display(df.head())

   Session_ID         Date Activity  Heart_Rate_BPM  Duration_Min  Calories
0         500  15-Jan-2026      Gym            69.0          42.0     466.0
1         501   2026/01/15     Yoga           160.0          33.0     334.0
2         502   2026-01-15     Swim            75.0          37.0     516.0
3         503   2026-01-15      Run           124.0          38.0     437.0
4         504   2026-01-15    Cycle           173.0          26.0     564.0

In [5]:
display(df.tail())

    Session_ID        Date Activity  Heart_Rate_BPM  Duration_Min  Calories
48         548  2026-01-15      Run           117.0          65.0    -150.0
49         549  2026-01-15    Cycle            96.0          68.0     640.0
50         502  2026-01-15     Swim            75.0          37.0     516.0
51         502  2026-01-15     Swim            75.0          37.0     516.0
52         549  2026-01-15    Cycle            96.0          68.0     640.0

In [6]:
# list columns
print(list(df.columns))

['Session_ID', 'Date', 'Activity', 'Heart_Rate_BPM', 'Duration_Min', 'Calories']

In [7]:
# data type information
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Session_ID      53 non-null     int64
 1   Date            53 non-null     str
 2   Activity        53 non-null     str
 3   Heart_Rate_BPM  48 non-null     float64
 4   Duration_Min    53 non-null     float64
 5   Calories        50 non-null     float64
dtypes: float64(3), int64(1), str(2)
memory usage: 2.6 KB

In [8]:
# show data and identify inconsistencies
df.describe()

       Session_ID  Heart_Rate_BPM  Duration_Min    Calories
count   53.000000       48.000000     53.000000   50.000000
mean   524.113208      151.708333     84.150943  385.660000
std     15.202050      172.692687    192.312086  199.759407
min    500.000000        0.000000     15.000000 -250.000000
25%    511.000000       89.750000     30.000000  232.000000
50%    524.000000      115.500000     43.000000  450.500000
75%    537.000000      154.750000     65.000000  521.750000
max    549.000000      999.000000   1080.000000  683.000000

In [9]:
# identify unique entries for normalization / cleaning
print(df['Activity'].unique())

<StringArray>
['Gym', 'Yoga', 'Swim', 'Run', 'Cycle', 'Ggym', 'YOGA', ' swim ', ' cykle ']
Length: 9, dtype: str

In [11]:
num_duplicates = df.duplicated().sum()
print(f"Number of Duplicated Rows: {num_duplicates}")

Number of Duplicated Rows: 3

In [15]:
display(df[df.duplicated(keep=False)])

    Session_ID        Date Activity  Heart_Rate_BPM  Duration_Min  Calories
2          502  2026-01-15     Swim            75.0          37.0     516.0
49         549  2026-01-15    Cycle            96.0          68.0     640.0
50         502  2026-01-15     Swim            75.0          37.0     516.0
51         502  2026-01-15     Swim            75.0          37.0     516.0
52         549  2026-01-15    Cycle            96.0          68.0     640.0

In [18]:
# check missing values
df.isnull()

    Session_ID   Date  Activity  Heart_Rate_BPM  Duration_Min  Calories
0        False  False     False           False         False     False
1        False  False     False           False         False     False
2        False  False     False           False         False     False
3        False  False     False           False         False     False
4        False  False     False           False         False     False
5        False  False     False           False         False     False
6        False  False     False           False         False     False
7        False  False     False           False         False     False
8        False  False     False           False         False     False
9        False  False     False           False         False     False
10       False  False     False            True         False     False
11       False  False     False            True         False     False
12       False  False     False            True         False     False
13       False  False     False            True         False     False
14       False  False     False            True         False     False
15       False  False     False           False         False     False
16       False  False     False           False         False     False
17       False  False     False           False         False     False
18       False  False     False           False         False     False
19       False  False     False           False         False     False
20       False  False     False           False         False     False
21       False  False     False           False         False     False
22       False  False     False           False         False     False
23       False  False     False           False         False     False
24       False  False     False           False         False     False
25       False  False     False           False         False      True
26       False  False     False           False         False      True
27       False  False     False           False         False      True
28       False  False     False           False         False     False
29       False  False     False           False         False     False
30       False  False     False           False         False     False
31       False  False     False           False         False     False
32       False  False     False           False         False     False
33       False  False     False           False         False     False
34       False  False     False           False         False     False
35       False  False     False           False         False     False
36       False  False     False           False         False     False
37       False  False     False           False         False     False
38       False  False     False           False         False     False
39       False  False     False           False         False     False
40       False  False     False           False         False     False
41       False  False     False           False         False     False
42       False  False     False           False         False     False
43       False  False     False           False         False     False
44       False  False     False           False         False     False
45       False  False     False           False         False     False
46       False  False     False           False         False     False
47       False  False     False           False         False     False
48       False  False     False           False         False     False
49       False  False     False           False         False     False
50       False  False     False           False         False     False
51       False  False     False           False         False     False
52       False  False     False           False         False     False

In [19]:
# check number of missing values
df.isnull().sum()

Session_ID        0
Date              0
Activity          0
Heart_Rate_BPM    5
Duration_Min      0
Calories          3
dtype: int64

In [21]:
# remove the duplicates
df.drop_duplicates(inplace=True)

In [22]:
# check number of duplicate rows again
num_duplicates = df.duplicated().sum()
print(f"Number of Duplicated Rows: {num_duplicates}")

Number of Duplicated Rows: 0

In [23]:
# strip() removes leading/trailing spaces, title() capitalizes only the first letter
df['Activity'] = df['Activity'].str.strip().str.title()

In [24]:
print(df['Activity'].unique())

<StringArray>
['Gym', 'Yoga', 'Swim', 'Run', 'Cycle', 'Ggym', 'Cykle']
Length: 7, dtype: str

In [25]:
# Using a dictionary to map specific types to correct categories
corrections = {'Ggym': 'Gym', 'Cykle': 'Cycle'}
df['Activity'] = df['Activity'].replace(corrections)

In [26]:
print(df['Activity'].unique())

<StringArray>
['Gym', 'Yoga', 'Swim', 'Run', 'Cycle']
Length: 5, dtype: str

In [29]:
# get Standardized Date
df['Date'] = pd.to_datetime(df['Date'], format='mixed')

In [30]:
df['Date']

0    2026-01-15
1    2026-01-15
2    2026-01-15
3    2026-01-15
4    2026-01-15
5    2026-01-15
6    2026-01-15
7    2026-01-15
8    2026-01-15
9    2026-01-15
10   2026-01-15
11   2026-01-15
12   2026-01-15
13   2026-01-15
14   2026-01-15
15   2026-01-15
16   2026-01-15
17   2026-01-15
18   2026-01-15
19   2026-01-15
20   2026-01-15
21   2026-01-15
22   2026-01-15
23   2026-01-15
24   2026-01-15
25   2026-01-15
26   2026-01-15
27   2026-01-15
28   2026-01-15
29   2026-01-15
30   2026-01-15
31   2026-01-15
32   2026-01-15
33   2026-01-15
34   2026-01-15
35   2026-01-15
36   2026-01-15
37   2026-01-15
38   2026-01-15
39   2026-01-15
40   2026-01-15
41   2026-01-15
42   2026-01-15
43   2026-01-15
44   2026-01-15
45   2026-01-15
46   2026-01-15
47   2026-01-15
48   2026-01-15
49   2026-01-15
Name: Date, dtype: datetime64[us]

In [32]:
# identifying outliers
# IQR method uses middle 50% of data and best for skewed distributions
# Z score method measures how many standard dev a value is from the mean, best for normal distributions

# IQR implementation
Q1 = df['Heart_Rate_BPM'].quantile(0.25)
Q3 = df['Heart_Rate_BPM'].quantile(0.75)
IQR = Q3 - Q1

# define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# detect outliers
iqr_outliers = df[(df['Heart_Rate_BPM'] < lower_bound) | (df['Heart_Rate_BPM'] > upper_bound)]
print("IQR Outliers:", iqr_outliers['Heart_Rate_BPM'].tolist())

IQR Outliers: [899.0, 999.0]

In [33]:
df.isnull()

    Session_ID   Date  Activity  Heart_Rate_BPM  Duration_Min  Calories
0        False  False     False           False         False     False
1        False  False     False           False         False     False
2        False  False     False           False         False     False
3        False  False     False           False         False     False
4        False  False     False           False         False     False
5        False  False     False           False         False     False
6        False  False     False           False         False     False
7        False  False     False           False         False     False
8        False  False     False           False         False     False
9        False  False     False           False         False     False
10       False  False     False            True         False     False
11       False  False     False            True         False     False
12       False  False     False            True         False     False
13       False  False     False            True         False     False
14       False  False     False            True         False     False
15       False  False     False           False         False     False
16       False  False     False           False         False     False
17       False  False     False           False         False     False
18       False  False     False           False         False     False
19       False  False     False           False         False     False
20       False  False     False           False         False     False
21       False  False     False           False         False     False
22       False  False     False           False         False     False
23       False  False     False           False         False     False
24       False  False     False           False         False     False
25       False  False     False           False         False      True
26       False  False     False           False         False      True
27       False  False     False           False         False      True
28       False  False     False           False         False     False
29       False  False     False           False         False     False
30       False  False     False           False         False     False
31       False  False     False           False         False     False
32       False  False     False           False         False     False
33       False  False     False           False         False     False
34       False  False     False           False         False     False
35       False  False     False           False         False     False
36       False  False     False           False         False     False
37       False  False     False           False         False     False
38       False  False     False           False         False     False
39       False  False     False           False         False     False
40       False  False     False           False         False     False
41       False  False     False           False         False     False
42       False  False     False           False         False     False
43       False  False     False           False         False     False
44       False  False     False           False         False     False
45       False  False     False           False         False     False
46       False  False     False           False         False     False
47       False  False     False           False         False     False
48       False  False     False           False         False     False
49       False  False     False           False         False     False